# 根目录通用忽略
.gitignore
*.log
*.tmp
*.temp
.DS_Store
.cache/

# 后端 Java 项目（backend）
/backend/target/
/backend/.classpath
/backend/.project
/backend/.settings/
/backend/*.classpath
/backend/*.project
/backend/*.properties
/backend/.idea/
/backend/*.iml
/backend/.vscode/
/backend/.m2/repository/


# 前端 Vue 项目（frontend）
/frontend/node_modules/
/frontend/dist/
/frontend/public/dist/
/frontend/.env
/frontend/.env.local
/frontend/.env.*.local
/frontend/*.env
/frontend/*.env.local
/frontend/*.env.*.local
/frontend/.idea/
/frontend/*.iml
/frontend/.vscode/
/frontend/.nuxt/
/frontend/build/
/frontend/public/build/